flows.json
[{"id":"68180e73.4724f","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"4c1378fc.edc528","type":"json","z":"68180e73.4724f","name":"","property":"payload","action":"obj","pretty":false,"x":390,"y":300,"wires":[["c6ab9ea0.76d07","52c6062c.327708","ba20b86.a321748","9ba66c63.95c53"]],"info":"{“msg”:value}"},{"id":"8422153b.0b41f8","type":"mqtt in","z":"68180e73.4724f","name":"","topic":"robot_swarm/distance","qos":"2","datatype":"json","broker":"77ade593.48a07c","nl":false,"rap":true,"rh":0,"x":440,"y":420,"wires":[["4c1378fc.edc528"]]},{"id":"c6ab9ea0.76d07","type":"debug","z":"68180e73.4724f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":300,"wires":[]},{"id":"52c6062c.327708","type":"ui_text","z":"68180e73.4724f","group":"9c8e068c.07c1a8","order":1,"width":0,"height":0,"name":"","label":"Distance: ","format":"{{msg.payload.distance}}","layout":"row-left","x":740,"y":340,"wires":[]},{"id":"ba20b86.a321748","type":"ui_text","z":"68180e73.4724f","group":"9c8e068c.07c1a8","order":2,"width":0,"height":0,"name":"","label":"Left Rpm:","format":"{{msg.payload.lrpm}}","layout":"row-left","x":740,"y":380,"wires":[]},{"id":"9ba66c63.95c53","type":"ui_text","z":"68180e73.4724f","group":"9c8e068c.07c1a8","order":3,"width":0,"height":0,"name":"","label":"Right Rpm:","format":"{{msg.payload.rrpm}}","layout":"row-left","x":750,"y":420,"wires":[]},{"id":"4adaa4e1.21a09c","type":"ui_button","z":"68180e73.4724f","name":"Forward","group":"9c8e068c.07c1a8","order":3,"width":0,"height":0,"passthru":false,"label":"Forward","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Forward","payloadType":"str","topic":"topic","topicType":"msg","x":220,"y":140,"wires":[["d4121dfc.ebe4a"]]},{"id":"d4121dfc.ebe4a","type":"mqtt out","z":"68180e73.4724f","name":"","topic":"robot_swarm/distance","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"77ade593.48a07c","x":650,"y":180,"wires":[]},{"id":"b81742a2.f33aa","type":"ui_button","z":"68180e73.4724f","name":"Left","group":"9c8e068c.07c1a8","order":3,"width":0,"height":0,"passthru":false,"label":"Left","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Left","payloadType":"str","topic":"topic","topicType":"msg","x":210,"y":220,"wires":[["d4121dfc.ebe4a"]]},{"id":"750c9375.e6494c","type":"ui_button","z":"68180e73.4724f","name":"Right","group":"9c8e068c.07c1a8","order":3,"width":0,"height":0,"passthru":false,"label":"Right","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Right","payloadType":"str","topic":"topic","topicType":"msg","x":190,"y":100,"wires":[["d4121dfc.ebe4a"]]},{"id":"b62a36f6.acd928","type":"ui_button","z":"68180e73.4724f","name":"Stop","group":"9c8e068c.07c1a8","order":3,"width":0,"height":0,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Stop","payloadType":"str","topic":"topic","topicType":"msg","x":210,"y":180,"wires":[["d4121dfc.ebe4a"]]},{"id":"aecb21e4.9ca2c","type":"ui_switch","z":"68180e73.4724f","name":"","label":"Manual Control","tooltip":"","group":"9c8e068c.07c1a8","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"Manual","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Automatic","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":220,"y":60,"wires":[["d4121dfc.ebe4a"]]},{"id":"77ade593.48a07c","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"true","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"9c8e068c.07c1a8","type":"ui_group","name":"Default","tab":"7e033ba.22151c4","order":1,"disp":true,"width":"6","collapse":false},{"id":"7e033ba.22151c4","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]